
div.Card{
  width: 80%;
  margin:10% auto 0% auto; 
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color:#a8d1e7; */
  background-color:#f76d6d;
  font-size: 16pt;
  padding:18pt;
  border-radius: 5px;

  /* animation:fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  /*-webkit-animation: fadein 1s; /* Safari and Chrome */
  /*-o-animation: fadein 1s; Opera */
  /* position: absolute; */
  /* animation: slide 1s forwards; */
  transform: translateY(-120%);
  -webkit-transform: translateY(-120%);
  box-shadow: 0 0 3px #000000;
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateY(0%); }
}
  
@keyframes slide-out {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-120%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateY(0%); }
  100% { -webkit-transform: translateY(-120%); }
}



@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}


@media only screen and (min-width: 768px) {
  div.Card{
    width:30%;
    padding: 32pt;
    margin: 5% auto auto auto; 
  }
}